<div class="grid grid-cols-3 bg-neutral-900 p-4 rounded-2xl w-full min-h-26">
    <!--3 Divs, uno para la cancion, otro para el menu de control y otro para el volumen y extras-->
    <div class="flex justify-self-start gap-4 w-full">
        <div class="">
            <img src="../../../assets/default.jpg" alt="" class="rounded-xl max-w-24 max-h-24">
        </div>
        <div>
            <div class="grid grid-cols-1 text-left">
                <h1 class="text-3xl">Título</h1>
                <p class="text-ac1/70 text-md">Artista</p>
            </div>
        </div>
    </div>
    <div class="justify-self-center">
        s
    </div>
    <div class="justify-self-end">
        s
    </div>
</div>