<div class="flex flex-row bg-neutral-900 p-4 rounded-2xl h-full">
    <div class="flex flex-col gap-5 w-full" *ngIf="mainScreenStatus.onHome()">
        <div class="flex gap-5 bg-neutral-600/20 p-2 border-2 border-neutral-800 rounded-2xl w-fit h-fit">
            <img src="../../../assets/default.jpg" class="rounded-xl max-w-24 max-h-24">
            <h1 class="pt-6 rounded-xl text-5xl">Home</h1>
        </div>
        <hr class="text-neutral-600">
        <div class="justify-items-center grid grid-cols-4 p-2 rounded-2xl w-full overflow-y-scroll scroll-smooth">
            <app-homeitem *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]"></app-homeitem>
        </div>
    </div>
    <div class="flex flex-col gap-5 w-full" *ngIf="!mainScreenStatus.onHome()">
        <div class="flex gap-5 bg-neutral-600/20 p-2 border-2 border-neutral-800 rounded-2xl w-fit h-fit">
            <img src="../../../assets/default.jpg" class="rounded-xl max-w-24 max-h-24">
            <h1 class="pt-6 rounded-xl text-5xl">Playlist Title</h1>
        </div>
        <hr class="text-neutral-600">
        <div class="flex flex-col gap-2 bg-neutral-600/20 p-2 border-2 border-neutral-800 rounded-2xl w-full overflow-y-scroll scroll-smooth">
            <app-song *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]"></app-song>
        </div>
    </div>
</div>