<div class="grid grid-cols-1 grid-rows-1 shadow-2xl mt-12 rounded-tr-2xl rounded-br-2xl" style="background-image: radial-gradient(circle at top left, transparent, #eaeaea17),
            radial-gradient(circle at bottom left, transparent, #e5e5e517);">
    <div class="z-0 grid grid-cols-1 bg-neutral-600/80 p-4 rounded-tr-2xl rounded-br-2xl rounded-br-2xlrounded-tr-2xl">
        <button>Home</button>
        <!--Aqui habria que mapear todas las playlist, voy a simplemente poner ejemplos-->
        <button>
            <div class="grid grid-cols-2">
                <div class="bg-amber-950 w-2 h-2"></div> <!--Imagen-->
                <h1>Título</h1>
            </div>
        </button>
    </div>
</div>